.bt-table-wrapper {
  .bt-table {
    .table {
      background-color: rgb(255, 255, 255);
    }

    .react-bs-container-header {
      .table-bordered > thead > tr > th {
        border: none;
        padding: 10px 15px;
        color: $body-strong-font-color;
      }
    }

    .hovered-column {
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .change-page {
    i {
      color: $default-element-color;
    }
  }
}