.bt-table-wrapper {
  .bt-table {
    box-shadow: -4px 4px 18px -4px rgba(184,184,184,0.42);
    .table {
      background-color: rgb(255, 255, 255);
    }

    .react-bs-container-header {
      .table-bordered > thead > tr > th {
        border: none;
        padding: 10px 15px;
        color: $body-strong-font-color;
      }
    }

    .hovered-column {
      &:hover {
        background-color: #f5f5f5;
      }
    }

    .shadow-cell {
      box-shadow: 3px 0px 4px 0px rgba(184,184,184,0.42);
    }
  }

  .change-page {
    i {
      color: $default-element-color;
    }
  }
}