.bt-input {
  .label-required {
    &:after {
      content: '*';
      color: $default-warning-color;
      font-size: 1.3em;
      margin-left: 5px;
      vertical-align: middle;
      line-height: 5px;
    }
  }
  .form-control {
    border-radius: 0;
  }
  .help-block {
    color: $default-warning-color;
  }
}